@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	padding: 1ch;
}

#terminal, #prefix {
	white-space: pre-wrap;
}

#terminal {
	height: fit-content;
}

#prompt {
	display: flex;
	flex: 1;
}

#input {
	flex: 1;
	outline: none;
	border: none;
	resize: none;
}

#prompt, #terminal, #input {
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
}

#terminal .line {
	display: block;
	word-break: break-all;
	white-space: pre-wrap;
}

::-webkit-scrollbar {
	width: 0px;
}

/*

:root[data-theme="so_v_ette"] {
	--font-size: 2.5em;
	--font-family: Inconsolata, 'Courier New', Courier, monospace;
	--BACKGROUND: #0c0c0c;
	--RESET: rgb(118, 118, 118);
}

*/

#settings {
	position: fixed;
    background: #fff3;
    padding: 1ch;
    border-radius: 5px;
    border: 2px dotted white;
	right: 1ch;
	font-size: 1rem;
	opacity: 0.1;
	transition: opacity 80ms ease;
}

#settings:hover {
	opacity: 1;
}

:root {
	--font-size: 32px;
	--font-family: monospace;
	--prefix-color: #367CF1;
}

:root .prefix {
	font-style: italic;
}

.prefix {
	color: var(--prefix-color);
	font-weight: 900;
}

.prefix.sent {
	font-style: normal;
}

body {
	background-color: var(--BACKGROUND);
	color: var(--RESET);
	font-family: var(--font-family);
	font-size: var(--font-size);
}

::selection {
	color: var(--BACKGROUND);
	background-color: var(--RESET);
}